<h4 class="ml-5 mb-5">マイページ</h4>
<span><strong>登録情報</strong></span>
<%= link_to "編集する", customers_edit_path, class: "ml-3 btn btn-success" %>
<table class="table mt-5" style="width: 60vw;">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
  </tbody>
</table>

<%= link_to "配送先", addresses_path, class: "btn btn-primary" %><br>
<%= link_to "注文履歴", "/orders", class: "btn btn-primary mt-3" %>
