<h4 class="m-5">商品編集</h4>

<%= form_with model: @item, url: "/admin/items/#{@item.id}", local:true do |f| %>
  <table class="table mx-auto" style="width: 50vw">
    <tr>
      <td><label>商品画像</label></td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <td><label>商品名</label></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><label>商品説明</label></td>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <td><label>ジャンル</label></td>
      <td><%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--選択してください--"}) %></td>
    </tr>
    <tr>
      <td><label>税抜価格</label></td>
      <td><%= f.text_field :price %>円</td>
    </tr>
    <tr>
      <td><label>販売ステータス</label></td>
      <td><%= f.radio_button :is_active, true, checked: true %>販売中<%= f.radio_button :is_active, false %>販売停止中</td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>