<%= render 'public/items/genre_list', genres: @genres %>

<div>
  <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>



<div>
  <h4>新着商品</h4>
  <% @items.each do |item| %>
    <table>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %>
          </td>
        </tr>
        <tr><td><%= item.name %></td></tr>
        <tr><td>¥<%= item.price.to_s(:delimited) %></td></tr>
      </tbody>
    </table>
  <% end %>
</div>
<%= link_to "全ての商品を見る >", items_path %>