<h4 class="m-5">注文情報入力</h4>

<%= form_with model: @order, url: "/orders/confirm", method: :post, local:true do |f| %>
  <div class="form-group">
    <label>支払い方法</label>
    <div class="ml-3">
      <%= f.radio_button :payment, 0, checked: "checked" %>クレジットカード<br>
      <%= f.radio_button :payment, 1 %>銀行振込
    </div>
  </div>

  <div class="form-group">
    <label>お届け先</label>
    <div class="ml-3">
      <%= f.radio_button :address_option, 0, checked: "checked" %>ご自身の住所
      <div class="ml-3 mb-3">
        〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>

      <%= f.radio_button :address_option, 1 %>登録済住所から選択
      <div class="ml-3 mb-3">
        <%= f.collection_select(:selected_address, current_customer.addresses, :id, :postal_code_address_name) %>
      </div>

      <%= f.radio_button :address_option, 2 %>新しいお届け先
      <div class="ml-3">
        <div class="row mb-3">
          <label class="col-3">郵便番号(ハイフンなし)</label>
          <%= f.text_field :postal_code, class: "col-3" %>
        </div>
        <div class="row mb-3">
          <label class="col-3">住所</label>
          <%= f.text_field :address, class: "col-5" %>
        </div>
        <div class="row mb-3">
          <label class="col-3">宛名</label>
          <%= f.text_field :name, class: "col-5" %>
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  </div>
<% end %>